// =========================
//        LAYOUT
// =========================

#container {
  @include flexify($dir: row, $just: space-between, $wrap: wrap);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a:not(.email) {
  width: 30%;
}

.card {
  @include flexify($dir: row, $just: center);
  background: $white;
  border: 2px solid $color-shade;
  width: 100%;
  margin: em(5px);
  padding: em(25px);
  cursor: pointer;
}

.pic,
.text,
.city,
h2 {
  background: $white;
}

header {
  @include flexify($dir: row, $just: space-between);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#modal {
  background: rgba(55, 55, 55, 0.85);
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  display: none;
}

#modal_window {
  background: $white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  width: 30%;
  height: 60%;
  top: 15%;
  left: 35%;
  display: none;
  border-radius: 0.5em;
  border: 4px solid darken($link-water, 40%);
  animation-name: openModal;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.04,-0.15,.76,1.31);
  // grid-template-rows: [top-border] 10px [row-split] auto [bottom-border];
  // grid-template-columns: [left-border] 10px [col-split-1] auto [col-split-2] 80% [col-split-3] auto [col-split-4] 10px [right-border];
}

@keyframes openModal {
  from {top: -300px; opacity: 0}
  to{top: 15%; opacity: 1}
}

#close-window {
  // grid-column-start: col-split-4;
  // grid-column-end: right-border;
  background: $white;
  cursor: pointer;
  width: 5px;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: em(30px);
  padding: 0;
}

#info-container {
  @include flexify($dir: row, $just: space-between);
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background: $white;
  padding-top: 15%;
}

#previous,
#next {
  font-size: em(60px);
  background: $white;
  padding-top: 20%;
  cursor: pointer;
}

#windowCard {
  background: $white;
  text-align: center;
}

/* The animation code */
// @keyframes example {
//   0%   {background-color: red;}
//   25%  {background-color: yellow;}
//   50%  {background-color: blue;}
//   100% {background-color: green;}
// }

/* The element to apply the animation to */
// div {
//   width: 100px;
//   height: 100px;
//   background-color: red;
//   animation-name: example;
//   animation-duration: 4s;
// }
