// ==============================
//        BASE STYLES
// ==============================


* {
  box-sizing: border-box;
  font-family: $font-family--primary;
  background: $gallery;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-size: $base__font-size;
  color: $color-text;
}
